* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #000;
}
.contenedor {
    width: 80%;
    height: 500px;
    background: #FF5C29;
    margin: 50 px auto;
}
.hijo {
    background: #00B285;
    width: 200px;
    height: 100px;
    color:#fff;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
